@use "manager" as *;
.neo-texture-checkerboard {
    @include texture-common("[data-id="neo-texture-checkerboard-button"]", "[data-id="neo-texture-button"]");
    #neo-texture-layer {
        --_texture-checkerboard-mask:
            repeating-linear-gradient(
                var(--_texture-checkerboard-angle, 0deg),
                #000 0 var(--_texture-checkerboard-size, 32px),
                transparent var(--_texture-checkerboard-size, 32px) calc(var(--_texture-checkerboard-size, 32px) + var(--_texture-checkerboard-size, 32px))
            ),
            repeating-linear-gradient(
                calc(var(--_texture-checkerboard-angle, 0deg) + 90deg),
                #000 0 var(--_texture-checkerboard-size, 32px),
                transparent var(--_texture-checkerboard-size, 32px) calc(var(--_texture-checkerboard-size, 32px) + var(--_texture-checkerboard-size, 32px))
            );
        mix-blend-mode: unset;
        opacity: 0.02;
        background-color: var(--b3-theme-on-background);
        -webkit-mask-image: var(--_texture-checkerboard-mask);
        -webkit-mask-composite: xor;
        mask-image: var(--_texture-checkerboard-mask);
        mask-composite: exclude;
    }
    &.neo-mode-dark {
        #neo-texture-layer {
            opacity: 0.01;
        }
    }
}
