@use "manager" as *;
.neo-texture-crossdot {
    @include texture-common("[data-id="neo-texture-crossdot-button"]", "[data-id="neo-texture-button"]");
    #neo-texture-layer {
        --_texture-crossdot-effective-size: min(var(--_texture-crossdot-size, 3px), calc(var(--_texture-crossdot-spacing, 40px) - 1px));
        overflow: hidden;
        mix-blend-mode: unset;
        opacity: 0.068;
        background-color: transparent;
        &::before {
            content: "";
            position: absolute;
            inset: -100vmax;
            background-image:
                radial-gradient(
                    circle,
                    var(--b3-theme-on-background) calc(var(--_texture-crossdot-effective-size) / 2),
                    transparent calc(var(--_texture-crossdot-effective-size) / 2)
                ),
                radial-gradient(
                    circle,
                    var(--b3-theme-on-background) calc(var(--_texture-crossdot-effective-size) / 2),
                    transparent calc(var(--_texture-crossdot-effective-size) / 2)
                );
            background-repeat: repeat;
            background-size: var(--_texture-crossdot-spacing, 40px) var(--_texture-crossdot-spacing, 40px);
            background-position:
                0 0,
                calc(var(--_texture-crossdot-spacing, 40px) / 2) calc(var(--_texture-crossdot-spacing, 40px) / 2);
            transform: rotate(var(--_texture-crossdot-angle, 0deg));
            transform-origin: center;
        }
    }
    &.neo-mode-dark {
        #neo-texture-layer {
            opacity: 0.048;
        }
    }
}
