@mixin overflow-fade-mask($size: 12px, $range: "top bottom") {
    @if $range == "top" or $range == "bottom" or $range == "top bottom" {
        mask-image: linear-gradient(
            to bottom,
            transparent,
            black var(--_mask-stop-start),
            black calc(100% - var(--_mask-stop-end)),
            transparent
        );
        animation-timeline: scroll(self y);
    } @else {
        mask-image: linear-gradient(
            to right,
            transparent,
            black var(--_mask-stop-start),
            black calc(100% - var(--_mask-stop-end)),
            transparent
        );
        animation-timeline: scroll(self x);
    }
    @if $range == "top" or $range == "left" {
        animation-name: neo-mask-fade-start;
        animation-range: 1px 100%;
        animation-direction: alternate;
    } @else if $range == "bottom" or $range == "right" {
        animation-name: neo-mask-fade-end;
        animation-range: 0% calc(100% - 1px);
        animation-direction: alternate-reverse;
    } @else {
        animation-name: neo-mask-fade-start, neo-mask-fade-end;
        animation-range: 1px 100%, 0% calc(100% - 1px);
        animation-direction: alternate, alternate-reverse;
    }
    --_mask-size: #{$size};
}
@keyframes neo-mask-fade-start {
    0% {
        --_mask-stop-start: 0px;
    }
    1%,
    100% {
        --_mask-stop-start: var(--_mask-size);
    }
}
@keyframes neo-mask-fade-end {
    0% {
        --_mask-stop-end: 0px;
    }
    1%,
    100% {
        --_mask-stop-end: var(--_mask-size);
    }
}
@property --_mask-stop-start {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}
@property --_mask-stop-end {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}
$fade-mask-s: 18px;
$fade-mask-m: 32px;
$fade-mask-l: 40px;
$fade-mask-xl: 50px;