@use "manager" as *;
@use "../utils" as *;
.neo-verticaltabs {
    @include verticaltabs-common('[data-id="neo-vertical-tabs-button"]');
    body:not(.body--toolbar-hide) {
        .neo-verticaltabs-wnd {
            flex-direction: row;
            .neo-verticaltabs-resize {
                margin: 0 -3px;
                &:not(:hover)::after {
                    background-color: var(--b3-border-color-trans);
                }
            }
            & > .fn__flex:first-child:not(.fn__none) {
                flex-direction: column;
                height: 100%;
                animation: none;
                max-width: 80%;
                & > .layout-tab-bar:not(.layout-tab-bar--readonly) {
                    flex: 1;
                    flex-direction: column;
                    overflow-y: scroll;
                    // 导致闪退 @include overflow-indicator-fadein-mask($fadeout-size-l, "top bottom");
                    .item {
                        margin: 3px 6px !important;
                        width: calc(100% - 12px);
                        max-width: unset;
                        &:first-child {
                            margin-top: 6px !important;
                        }
                        &:last-child {
                            margin-bottom: 6px !important;
                        }
                        .item__icon, .item__graphic, .item__text {
                            transform: none;
                        }
                        .item__text {
                            max-width: fit-content;
                            margin-right: -22px;
                        }
                        .item__close {
                            margin-left: auto;
                        }
                        &::before {
                            display: none;
                        }
                        &.item--pin {
                            .item__text {
                                display: flex !important;
                                margin-right: -22px !important;
                            }
                            .item__close {
                                display: flex !important;
                                visibility: hidden;
                                pointer-events: none;
                            }
                            & + .item:not(.item--pin) {
                                margin-top: 16px !important;
                            }
                        }
                        &:hover {
                            .item__text {
                                margin-right: 0;
                            }
                        }
                    }
                }
                & > .layout-tab-bar--readonly {
                    flex: 0 0 auto;
                    margin: 0;
                    & > .item--readonly {
                        justify-content: center;
                        & > .fn__flex-1 {
                            flex: 1;
                            display: block;
                            max-width: unset;
                        }
                    }
                }
            }
        }
    }
}
