@use "manager" as *;
.neo-palette-amber {
    @include palette-common("[data-id=\"neo-palette-amber-button\"]", "[data-id=\"neo-scheme-button\"]");
    &.neo-mode-light {
        --b3-base-color: #eecb9e;
		--b3-theme-accent: #d89033;
		--b3-theme-background: #f8f5f1;
		--b3-theme-surface: #f2ece3;
		--b3-theme-on-background: #654f2f;
    }
    &.neo-mode-dark {
        --b3-base-color: #d5ab7c;
		--b3-theme-accent: #d5ab7c;
		--b3-theme-background: #221e1e;
		--b3-theme-surface: #423939;
		--b3-theme-on-background: #f4e6d2;
		&.neo-palette-invert {
			--b3-theme-background: #423939;
			--b3-theme-surface: #221e1e;
			--b3-theme-on-background: #ffefd9;
		}
    }
}
