@use "manager" as *;
.neo-palette-everbliss {
    @include palette-common("[data-id=\"neo-palette-everbliss-button\"]", "[data-id=\"neo-scheme-button\"]");
    &.neo-mode-light {
        --b3-base-color: #de6358;
        --b3-theme-accent: #f06255;
        --b3-theme-background: #fefaf0;
        --b3-theme-surface: #f4ebd2;
        --b3-theme-on-background: #4d3d5f;
        --b3-theme-on-surface: #4d3d5fa2;
    }
    &.neo-mode-dark {
        --b3-base-color: #c5594a;
        --b3-theme-accent: #ff816f;
        --b3-theme-background: #17151c;
        --b3-theme-surface: #2d2935;
        --b3-theme-on-background: #e3c9b0;
        --b3-theme-on-surface: #e3c9b0a2;
        &.neo-palette-invert {
            --b3-theme-background: #2d2935;
            --b3-theme-surface: #17151c;
            --b3-theme-on-background: #efd8c2;
            --b3-theme-on-surface: #f2e2d3a2;
        }
    }
}
