@use "manager" as *;
.neo-palette-firefly {
    @include palette-common("[data-id=\"neo-palette-firefly-button\"]", "[data-id=\"neo-scheme-button\"]");
    &.neo-mode-light {
        --b3-base-color: #9dc238;
        --b3-theme-accent: #87aa1a;
        --b3-theme-background: #f5f7e6;
        --b3-theme-surface: #ecefd6;
        --b3-theme-on-background: #353a2c;
        --b3-theme-on-surface: #525840af;
    }
    &.neo-mode-dark {
        --b3-base-color: #cef698;
        --b3-theme-accent: #cef698;
        --b3-theme-background: #19192e;
        --b3-theme-surface: #212037;
        --b3-theme-on-background: #e0ead3;
        --b3-theme-on-surface: #e0ead3d0;
        &.neo-palette-invert {
            --b3-theme-background: #212037;
            --b3-theme-surface: #19192e;
        }
    }
}
