@use "manager" as *;
.neo-palette-gingko {
    @include palette-common("[data-id=\"neo-palette-gingko-button\"]", "[data-id=\"neo-scheme-button\"]");
    &.neo-mode-light {
        --b3-base-color: #d55a5a;
        --b3-theme-accent: #b44949;
        --b3-theme-background: #f7eecb;
        --b3-theme-surface: #f2e5bd;
        --b3-theme-on-background: #4a2e1f;
        --b3-theme-on-surface: #7c7065;
        --neo-menu-item-primary: #9d8077;
    }
    &.neo-mode-dark {
        --b3-base-color: #9c864b;
        --b3-theme-accent: #c7a753;
        --b3-theme-background: #17181c;
        --b3-theme-surface: #202228;
        --b3-theme-on-background: #e9e2d2;
        --b3-theme-on-surface: #b3ad9c;
        &.neo-palette-invert {
            --b3-theme-background: #202228;
            --b3-theme-surface: #17181c;
            --b3-theme-on-background: #e4ddcd;
            --b3-theme-on-surface: #aea897;
        }
    }
}
