@use "manager" as *;
@use "../utils" as *;
.b3-menu__item[data-id="neo-highcontrast-button"] {
    .neo-ide-body.body--toolbar-hide & {
        opacity: 0.38;
    }
}
@mixin neo-highcontrast-icon {
    color: var(--neo-highcontrast-on-bg) !important;
    svg {
        color: var(--neo-highcontrast-on-bg) !important;
    }
    &:hover {
        color: white !important;
        background-color: oklch(from var(--neo-highcontrast-on-bg) l c h / 0.12) !important;
        svg {
            color: white !important;
        }
    }
}
.neo-palette-highcontrast {
    @include palette-common("[data-id=\"neo-highcontrast-button\"]");
    &.neo-mode-light {
        --neo-highcontrast-bg: oklch(from var(--b3-base-color) calc(min(0.63, l) + 0.1 * var(--neo-brightness, 0)) calc(var(--neo-saturation, 2) * 0.03) h);
        --neo-highcontrast-on-bg: var(--b3-theme-background);
        body:not(.neo-ide-body.body--toolbar-hide):not(.neo-mobile) {
            &:not(.body--window) {
                background-color: var(--neo-highcontrast-bg);
            }
            .layout__resize {
                --_resize-hl: var(--b3-theme-background);
            }
            #toolbar .toolbar__item {
                @include neo-highcontrast-icon;
                &#barWorkspace {
                    &:hover {
                        background-color: var(--b3-theme-background) !important;
                        color: var(--neo-highcontrast-bg) !important;
                    }
                }
            }
            .toolbar #drag {
                color: var(--neo-highcontrast-on-bg);
            }
            .dock__item {
                @include neo-highcontrast-icon;
            }
            .dock__item--active,
            .dock__item--activefocus {
                background-color: var(--b3-theme-background) !important;
                color: var(--neo-highcontrast-bg) !important;
                svg {
                    color: var(--neo-highcontrast-bg) !important;
                }
                &:hover {
                    background-color: var(--b3-theme-background) !important;
                    color: var(--neo-highcontrast-bg) !important;
                    svg {
                        color: black !important;
                    }
                }
            }
            .dock__split::after {
                background-color: oklch(from var(--b3-theme-background) l c h / 0.5) !important;
            }
            .status {
                color: var(--neo-highcontrast-on-bg);
                background-color: var(--neo-highcontrast-bg) !important;
                --b3-theme-on-surface: oklch(from var(--neo-highcontrast-on-bg) l c h / 0.75);
                --b3-theme-on-background: var(--neo-highcontrast-on-bg);
                &::before {
                    --_status-dot-color: var(--neo-highcontrast-on-bg);
                }
                .toolbar__item {
                    @include neo-highcontrast-icon;
                }
                .fn__progress > div {
                    background-color: oklch(from var(--neo-highcontrast-on-bg) l c h / 0.6);
                    background-image: linear-gradient(-45deg, oklch(from var(--neo-highcontrast-bg) l c h / 0.6) 25%, transparent 25%, transparent 50%, oklch(from var(--neo-highcontrast-bg) l c h / 0.6) 50%, oklch(from var(--neo-highcontrast-bg) l c h / 0.6) 75%, transparent 75%, transparent);
                }
            }
            &.body--toolbar-hide {
                .layout__center [data-type=wnd] {
                    & > .fn__flex:first-child {
                        & > .layout-tab-bar:not(.layout-tab-bar--readonly) {
                            .item {
                                &::before {
                                    background-color: oklch(from var(--b3-theme-background) l c h / 0.5);
                                }
                                .item__icon,
                                .item__graphic,
                                .item__text {
                                    color: var(--neo-highcontrast-on-bg) !important;
                                }
                                .item__close {
                                    svg {
                                        color: var(--neo-highcontrast-on-bg) !important;
                                    }
                                    &:hover {
                                        svg {
                                            background-color: oklch(from var(--neo-highcontrast-on-bg) l c h / 0.12);
                                        }
                                    }
                                }
                                &.item--focus {
                                    background-color: var(--neo-highcontrast-on-bg) !important;
                                    .item__icon,
                                    .item__graphic,
                                    .item__text {
                                        color: var(--neo-highcontrast-bg) !important;
                                    }
                                    .item__close {
                                        svg {
                                            color: var(--neo-highcontrast-bg) !important;
                                        }
                                        &:hover {
                                            svg {
                                                color: var(--b3-theme-error) !important;
                                                background-color: transparent;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        & > .layout-tab-bar--readonly {
                            .block__icon {
                                @include neo-highcontrast-icon;
                            }
                        }
                    }
                }
            }
        }
    }
}
