@use "sass:map";
@use "sass:list";
@use "sass:string";
@use "_volmap" as volmap;
@use "_groupmap" as groupmap;
@mixin palette-common($selectors...) {
    $all-selectors: $selectors;
    $palette-key: null;
    @each $selector in $selectors {
        $marker: 'neo-palette-';
        $marker-index: string.index($selector, $marker);
        @if $marker-index != null {
            $start: $marker-index + string.length($marker);
            $end: string.index($selector, '-button');
            @if $end != null and $end > $start {
                $palette-key: string.slice($selector, $start, $end - 1);
            }
        }
    }
    @if $palette-key != null and map.has-key(volmap.$palette-vol-map, $palette-key) {
        $vol: map.get(volmap.$palette-vol-map, $palette-key);
        $all-selectors: list.append($all-selectors, "[data-id=\"neo-palette-vol#{$vol}-button\"]");
    }
    @if $palette-key != null and map.has-key(groupmap.$palette-group-map, $palette-key) {
        $group: map.get(groupmap.$palette-group-map, $palette-key);
        $all-selectors: list.append($all-selectors, "[data-id=\"neo-palette-group-#{$group}-button\"]");
    }
    @each $selector in $all-selectors {
        .b3-menu__item#{$selector} {
            &:not(.b3-menu__item--show):not(.b3-menu__item--current) {
                color: var(--b3-theme-accent);
                & .b3-menu__icon {
                    color: var(--b3-theme-accent);
                }
            }
        }
        &.neo-palette-random .b3-menu__item#{$selector} {
            &:not(.b3-menu__item--show):not(.b3-menu__item--current) {
                color: var(--b3-theme-on-background);
                & .b3-menu__icon {
                    color: var(--b3-theme-on-background);
                }
            }
        }
    }
}
@mixin palette-base-color-input {
    input[type="color"] {
        visibility: hidden;
        width: 0;
        height: 0;
        padding: 0;
        position: absolute;
        left: -145%;
    }
}
@mixin palette-base-color-dot {
    &::before {
        position: absolute;
        left: 9.5px;
        top: 50%;
        transform: translateY(-50%);
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: var(--b3-base-color);
        .neo-mobile & {
            left: 18px;
        }
    }
    &:hover,
    &.b3-menu__item--current {
        &::before {
            outline: 1px solid oklch(from var(--neo-menu-item-primary) clamp(0, (0.72 - l) * 10000, 1) 0 0 / 0.7);
        }
    }
}