@use "manager" as *;
.neo-palette-meridian {
    @include palette-common("[data-id=\"neo-palette-meridian-button\"]", "[data-id=\"neo-scheme-button\"]");
    &.neo-mode-light {
        --b3-base-color: #010101;
        --b3-theme-accent: #0050ff;
        --b3-theme-background: #fefefe;
        --b3-theme-surface: #ededed;
        --b3-theme-on-background: #010101;
        --b3-menu-background: var(--b3-theme-background);
        --b3-list-active: oklch(from var(--b3-theme-primary) l 0 h / 0.12);
        --neo-layout-shadow-blur: 0 1px 3px oklch(from var(--b3-theme-on-background) calc(l - 0.035) c h / 0.15), 0 0 0 0.5px oklch(from var(--b3-theme-on-background) calc(l - 0.035) c h / 0.08), 0.5px 0 0 0 oklch(from var(--b3-theme-on-background) calc(l - 0.035) c h / 0.2), -0.5px 0 0 0 oklch(from var(--b3-theme-on-background) calc(l - 0.035) c h / 0.2);
    }
    &.neo-mode-dark {
        --b3-base-color: #fefefe;
        --b3-theme-accent: #4fff2d;
        --b3-theme-background: #010101;
        --b3-theme-surface: #232323;
        --b3-theme-on-background: #fefefe;
        --b3-menu-background: var(--b3-theme-surface);
        --b3-list-active: oklch(from var(--b3-theme-primary) l 0 h / 0.2);
        --neo-switch-primary: #13aa00;
        --_heading-color: #fefefe;
        --b3-list-hover: oklch(from var(--b3-theme-on-background) l c h / 0.15);
        --neo-main-shadow: 0 1px 4px oklch(from var(--b3-theme-background) calc(l - 0.1) c h / 0.55), 0.5px 0 0 0 oklch(from var(--b3-theme-background) calc(l - 0.05) c h / 0.8), -0.5px 0 0 0 oklch(from var(--b3-theme-background) calc(l - 0.05) c h / 0.8), 0 0 0 0.5px oklch(from var(--b3-theme-on-background) calc(l + 0.02) c h / 0.1) inset, 0 0.75px 1px -0.5px oklch(from var(--b3-theme-on-background) calc(l + 0.05) c h / 0.5) inset, 0 -0.75px 1px -0.5px oklch(from var(--b3-theme-on-background) calc(l + 0.05) c h / 0.5) inset;
        --neo-layout-shadow-inset: 0 0 0 0.5px oklch(from var(--b3-theme-on-background) calc(l + 0.02) c h / 0.12) inset, 0 0.75px 1px -0.5px oklch(from var(--b3-theme-on-background) calc(l + 0.05) c h / 0.5) inset, 0 -0.75px 1px -0.5px oklch(from var(--b3-theme-on-background) calc(l + 0.05) c h / 0.5) inset;
        &.neo-palette-invert {
            --b3-theme-background: #010101;
            --b3-theme-surface: #232323;
        }
    }
    body {
        background-color: var(--b3-theme-background);
    }
}
