@use "manager" as *;
.neo-palette-random {
    @include palette-common("[data-id=\"neo-random-button\"]");
    .b3-menu__item[data-id="neo-random-button"]:not(.b3-menu__item--show):not(.b3-menu__item--current) {
        color: var(--b3-theme-accent) !important;
        & .b3-menu__icon {
            color: var(--b3-theme-accent) !important;
        }
    }
    .b3-menu__item[data-id="neo-saturation-button"],
    .b3-menu__item[data-id="neo-brightness-button"],
    .b3-menu__item[data-id="neo-invert-button"],
    .b3-menu__item[data-id="neo-highcontrast-button"] {
        pointer-events: none !important;
        opacity: 0.38 !important;
    }
}
