@use "manager" as *;
.neo-palette-retroconsole {
    @include palette-common("[data-id=\"neo-palette-retroconsole-button\"]", "[data-id=\"neo-scheme-button\"]");
    &.neo-mode-light {
        --b3-base-color: #626262;
        --b3-theme-accent: #7a0a0a;
        --b3-theme-background: #f2f2ef;
        --b3-theme-surface: #e3e3de;
        --b3-theme-on-background: #171717;
        --neo-button-primary: #976868;
        --_brutalism-black: #4e4e4e;
        --_brutalism-gray: oklch(from var(--_brutalism-black) calc(l + 0.45) c h);
    }
    &.neo-mode-dark {
        --b3-base-color: #d5d5d5;
        --b3-theme-accent: #ab8e8e;
        --b3-theme-background: #333333;
        --b3-theme-surface: #404040;
        --b3-theme-on-background: #ededed;
        --neo-button-primary: #976868;
        --_heading-color: #e4e4e4;
        --_brutalism-black: black;
        --_brutalism-gray: oklch(from var(--_brutalism-black) calc(l + 0.54) c h);
        &.neo-palette-invert {
            --b3-theme-background: #404040;
            --b3-theme-surface: #333333;
            --b3-theme-on-background: #f2f2f2;
        }
    }
}
