.b3-menu__item[data-id="neo-saturation-button"] {
    opacity: 0.38;
    pointer-events: none;
    .b3-slider {
        &::-webkit-slider-runnable-track {
            background: linear-gradient(in srgb to right, oklch(from var(--b3-theme-accent) l 0 h / 0.3), oklch(from var(--b3-theme-accent) l 0.25 h / 0.3));
        }
    }
}
.neo-palette-custom,
.neo-palette-followbanner,
.neo-palette-followsystem,
.neo-palette-highcontrast.neo-mode-light body:not(.neo-ide-body.body--toolbar-hide) {
    .b3-menu__item[data-id="neo-saturation-button"] {
        opacity: 1;
        pointer-events: auto;
    }
}
