@use "manager" as *;
.neo-palette-titaniumspace {
    @include palette-common("[data-id=\"neo-palette-titaniumspace-button\"]", "[data-id=\"neo-scheme-button\"]");
    &.neo-mode-light {
        --b3-base-color: #7287fd;
        --b3-theme-accent: #5e73e9;
        --b3-theme-background: #eef1f5;
        --b3-theme-surface: #dce0e8;
        --b3-theme-on-background: #4c4f69;
    }
    &.neo-mode-dark {
        --b3-base-color: #90b1ff;
        --b3-theme-accent: #90b1ff;
        --b3-theme-background: #262c37;
        --b3-theme-surface: #3a4353;
        --b3-theme-on-background: #eceff4;
        &.neo-palette-invert {
            --b3-theme-background: #3a4353;
            --b3-theme-surface: #262c37;
        }
    }
}
