@use "manager" as *;
.neo-palette-vael {
    @include palette-common("[data-id=\"neo-palette-vael-button\"]", "[data-id=\"neo-scheme-button\"]");
    &.neo-mode-light {
        --b3-theme-base: #aacde1;
        --b3-theme-accent: #31a7df;
        --b3-theme-background: #fff9ef;
        --b3-theme-surface: #f7eddc;
        --b3-theme-on-background: #2a556d;
    }
    &.neo-mode-dark {
        --b3-theme-base: #4f8873;
        --b3-theme-accent: #7ec2a6;
        --b3-theme-background: #1b2328;
        --b3-theme-surface: #29353c;
        --b3-theme-on-background: #bfd3ca;
        &.neo-palette-invert {
            --b3-theme-background: #29353c;
            --b3-theme-surface: #1b2328;
            --b3-theme-on-background: #d2e6dd;
        }
    }
}
