@use "manager" as *;
.neo-palette-violet {
    @include palette-common("[data-id=\"neo-palette-violet-button\"]", "[data-id=\"neo-scheme-button\"]");
    &.neo-mode-light {
        --b3-base-color: #886aa4;
        --b3-theme-accent: #a157c3;
        --b3-theme-background: #f8f6ff;
        --b3-theme-surface: #efebff;
        --b3-theme-on-background: #160045;
    }
    &.neo-mode-dark {
        --b3-base-color: #8870ae;
        --b3-theme-accent: #b686df;
        --b3-theme-background: #1f1922;
        --b3-theme-surface: #2a2630;
        --b3-theme-on-background: #dfd9e1;
        &.neo-palette-invert {
            --b3-theme-background: #2a2630;
            --b3-theme-surface: #1f1922;
        }
    }
}
