// 替换.spread :is(.page,.dummyPage),.pdfViewer:is(.scrollHorizontal,.scrollWrapped) :is(.page,.spread)
.spread {
    .page,
    .dummyPage {
        display: inline-block;
        vertical-align: middle
    }
}
.pdfViewer {
    &.scrollHorizontal,
    &.scrollWrapped {
        .page,
        .dummyPage {
            display: inline-block;
            vertical-align: middle
        }
    }
}
// 替换.body--toolbar-hide .toolbar > :not(#drag)
.body--toolbar-hide #toolbar > .toolbar__item {
    position: relative;
    z-index: 7;
}
// 替换.textLayer :is(span,br) 
.textLayer span,
.textLayer br  {
    color: rgba(0,0,0,0);
    position: absolute;
    white-space: pre;
    cursor: text;
    transform-origin: 0% 0%
}