@mixin status-child {
    & > .toolbar__item,
    & > .status__msg,
    & > .status__counter,
    & > .status__backgroundtask {
        @content;
    }
}
.neo-enabled {
    @supports (bottom: anchor(--a bottom)) {
        body:not(.neo-mobile) .status {
            transform-origin: 100% 100%;
            &:not(.neo-status-hidden) {
                animation: neo-status-expand 0.4s var(--neo-ease-spring-2);
                @include status-child {
                    animation: neo-status-content-fadein 0.3s var(--neo-ease-out-3), neo-status-content-transform 0.5s var(--neo-ease-spring-3);
                }
            }
            &.neo-status-hidden {
                &:not(:hover) {
                    height: 16px;
                    width: 32px;
                    animation: neo-status-hidden 0.5s var(--neo-ease-spring-3);
                    @include status-child {
                        display: none;
                    }
                    &::before {
                        --_status-dot-color: oklch(from var(--b3-theme-on-background) l c h / 0.5);
                        content: "";
                        position: absolute;
                        top: 6px;
                        left: 50%;
                        width: 4px;
                        height: 4px;
                        background-color: var(--_status-dot-color);
                        box-shadow: 8px 0 0 0 var(--_status-dot-color), 16px 0 0 0 var(--_status-dot-color);
                        border-radius: 50%;
                        transform: translateX(-10px);
                        transform-origin: top center;
                        animation: neo-status-dot-fadein 0.4s var(--neo-ease-out-3), neo-status-dot-transform 0.5s var(--neo-ease-spring-3);
                    }
                }
                &:hover {
                    animation: neo-status-expand 0.4s var(--neo-ease-spring-2);
                    @include status-child {
                        animation: neo-status-content-fadein 0.3s var(--neo-ease-out-3), neo-status-content-transform 0.5s var(--neo-ease-spring-3);
                    }
                }
            }
        }
    }
}
@keyframes neo-status-expand {
    from {
        transform: scaleX(0.4) scaleY(0.5714285714);
    }
    to {
        transform: scaleX(1) scaleY(1);
    }
}
@keyframes neo-status-hidden {
    from {
        transform: scaleX(2.5) scaleY(1.75);
    }
    to {
        transform: scaleX(1) scaleY(1);
    }
}
@keyframes neo-status-dot-fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes neo-status-dot-transform {
    from {
        transform: translateX(-25px);
    }
    to {
        transform: translateX(-10px);
    }
}
@keyframes neo-status-content-fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes neo-status-content-transform {
    from {
        transform: translateX(30px);
    }
    to {
        transform: translateX(0);
    }
}